<!-- <h2>Cadastro de Cliente</h2> -->

<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <!-- Nome Input -->
  <div class="form-group">
    <label for="name">Nome</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Digite o nome"
      [ngClass]="{'is-invalid': isFieldInvalid('name')}"
    />
    <div *ngIf="isFieldInvalid('name')" class="invalid-feedback">
      O nome é obrigatório e deve ter pelo menos 3 caracteres.
    </div>
  </div>

  <!-- Sobrenome Input -->
  <div class="form-group">
    <label for="lastName">Sobrenome</label>
    <input
      id="lastName"
      type="text"
      class="form-control"
      formControlName="lastName"
      placeholder="Digite o sobrenome"
      [ngClass]="{'is-invalid': isFieldInvalid('lastName')}"
    />
    <div *ngIf="isFieldInvalid('lastName')" class="invalid-feedback">
      O sobrenome é obrigatório e deve ter pelo menos 3 caracteres.
    </div>
  </div>

  <!-- CPF Input -->
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input
      id="cpf"
      type="text"
      class="form-control"
      formControlName="cpf"
      placeholder="Digite o CPF (somente números)"
      [ngClass]="{'is-invalid': isFieldInvalid('cpf')}"
    />
    <div *ngIf="isFieldInvalid('cpf')" class="invalid-feedback">
      O CPF é obrigatório e deve conter 11 dígitos.
    </div>
  </div>

  <!-- Botão de Enviar -->
  <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">
    Registrar Cliente
  </button>
</form>
